<div class="container">
    <div class="row">
        <div class="caja">
        <div class="caja_izquierda caja_hijo"><H1>HOLA SOY ESNEIDER</H1>  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque architecto voluptas similique deleniti porro aspernatur quas neque ipsam. Ea sunt quidem recusandae porro obcaecati alias inventore eos est provident modi.</p></div>
        <div class="caja_derecha caja_hijo"><h1>ESTE ES CUADRO DERECHA</h1> <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione saepe quae facilis itaque a! Tempore error qui, cum commodi ipsa porro officiis fugit eveniet corporis enim. Praesentium voluptatem cupiditate sint.</p></div>
        </div>
    </div>
</div>